@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<span>No, it still does not work...</span>
<div>
<ol>
<li>
item 1
</li>
<li>
item 2
</li>
<li>
item 3
</li>
</ol>
</div>